/* Light Mode Theme */
:root {
  --background-body: #ffffff;
  // --background-body: #03d069;
  --background-alt: #222222;
  --text-menu: rgb(205, 205, 205);
  --text-strong: #1c2025
  --text-main: #1c2025;
  --text-muted: #888888;
  --text-hover: #eeeeee;
  --accent: rgb(41, 51, 51);
  --focus: #4a8aa1;
  --visited: violet;
  --border-color: #222222;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}

/* Dark Mode Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #222222;
    --background-alt: #222222;
    --text-menu: rgb(205, 205, 205);
    --text-strong: #eeeeee;
    --text-main: rgb(205, 205, 205);
    --text-muted: #888888;
    --text-hover: #eeeeee;
    --accent: lightseagreen;
    --focus: #4a8aa1;
    --visited: violet;
    --border-color: rgb(205, 205, 205);
  }
}

/* Sass Valiables */
$background-body: var(--background-body);
$background-alt: var(--background-alt);
$text-menu: var(--text-menu);
$text-strong: var(--text-strong);
$text-main: var(--text-main);
$text-muted: var(--text-muted);
$text-hover: var(--text-hover);
$accent: var(--accent);
$focus: var(--focus);
$visited: var(--visited);
$border-color: var(--border-color);
