/* index Page */
.body-flex {
  display: flex;
  .body-image {
  width: 40%;
  margin-right: 2rem;
  }
  .body-text {
    h2 {
      fontweight: bold;
    }
  }
}

/* Artwork Page */
.link-title {
  color: #03d069;
  &:hover {
    color: var(--text-hover);
  }
}
