@use "./global";

/* index Page */
.body-flex {
  display: flex;
  .body-image {
    width: 40%;
    margin-right: 2rem;
  }
  .body-text {
    h2 {
      font-weight: bold;
    }
    p {
      margin: auto;
      padding: 0;
    }
  }
}
/* Artwork Page */
.link-title {
  text-decoration: none;
  color: global.$text-menu;
  &:visited {
    color: global.$visited;
  }
  &:hover {
    color: global.$text-hover;
  }
}

.markdown-body {
  margin-top: 2rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body .pl-c {
  color: #6a737d;
}
