@use "./global";

/* Whole Page */
.container {
  padding-top: 80px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  background-color: global.$background-body;
  min-height: 100%;
}

main {
  padding: 2em;
}

.main-heading {
  color: global.$text-main;
}
