@use "./global";

/* Whole Page */
// .container {
//   margin-right: auto;
//   margin-left: auto;
//   max-width: 900px;
//   background-color: global.$background-body;
//   min-height: 100%;
// }
body {
  padding-top: 80px;
  padding: 2em;
  // Markdown CSS
  // .markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  // color: #24292e;
  // font-size: 16px;
  // line-height: 1.5;
  word-wrap: break-word;
  // }
  .markdown-body .pl-c {
    color: #6a737d;
  }
}
h2 {
  margin-top: 2rem;
  color: #1976d2;
}
.main-heading {
  color: global.$text-main;
}
