div {
  background-color: aquamarine;
}
main {
  background-color: greenyellow;
}
footer {
  background-color: blue;
}

header {
  background-color: beige;
}
nav {
  background-color: yellow;
}
.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}
/* ... your existing styles */

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.footer-title {
  font-size: 1rem;
  color: gray;
  text-align: center;
  margin: 3rem 0;
}

.footer-bar {
  background-color: dimgray;
  padding: auto;
  margin: 3rem 0;
  box-sizing: border-box;
}
