/* Valiables - Light Mode */
:root {
  --background-body: #03d069;
  --background-alt: #222222;
  --text-menu: rgb(205, 205, 205);
  --text-strong: #222222;
  --text-main: #444444;
  --text-muted: #888888;
  --text-hover: #eeeeee;
  --accent: lightseagreen;
  --focus: #4a8aa1;
  --visited: violet;
  --border-color: #222222;
}

/* Valiables - Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #222222;
    --background-alt: #222222;
    --text-strong: #eeeeee;
    --text-main: rgb(205, 205, 205);
    --text-muted: #888888;
    --text-hover: #eeeeee;
    --accent: lightseagreen;
    --focus: #4a8aa1;
    --visited: violet;
    --border-color: rgb(205, 205, 205);
  }
}

/* Whole Page */
.container {
  min-height: 100%;
}

/* Logo & Header & Navigation bar */
.head-container {
  background-color: var(--background-alt);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

.site-title {
  padding-left: 1rem;
  font-size: 2rem;
  max-width: max-content;
  min-width: min-content;
  color: var(--text-menu);
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: var(--text-hover);
  }
}

.nav-bar {
  border: solid;
  /* Tablet Design */
  @media (max-width: 500px) {
    display: none;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 0;
    .nav-link-item {
      padding-right: 1rem;
      padding-left: 1rem;
      margin-bottom: 0;
      .nav-link-text {
        color: var(--text-menu);
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }
}

/* Contents Design */
.body-container {
  margin: auto;
  background-color: var(--background-body);
  padding-left: 1rem;
  padding-top: 1rem;
}
main {
  .heading {
    color: var(--text-strong);
    margin-bottom: 0;
  }
  p {
    color: var(--text-main);
  }
  h2 {
    color: var(--text-main);
  }
}

/* Footer Design */
.footer-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--background);
  padding: auto;
  margin: 0;
  margin-top: 2rem;
  border: var(--border-color-alt);
  border-top: solid;
  border-width: thin;
  .footer-title {
    font-size: 0.5em;
    color: var(--text-main);
    text-align: left;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}
